<div class="login-container clearfix">
<div class="logo">Chessnuts</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><input class="login-button button button-rounded button-action button-large" type="submit" value="Sign up" name="commit"></input></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
