<% console.log(user); %>
<div class="social-container">

  <nav class="profile-nav">
    <ul>
      <li class="user-search-bar clearfix">
        <label for="user_email"></label>
        <div class="ui-widget">
          <input placeholder="Search by email" name="user[email]" id="user_email"><i class="fa fa-search user-search-button"></i><br>
          <input name="user[id]" id="user_id" type="hidden">
        </div>
      </li>
    </ul>
  </nav>

  <div class="profile-container clearfix">
    <div class="profile-info-container clearfix">
      <a href="assets/default_pic.png" class="fancybox"><img class="profile-pic" src="assets/default_pic.png" height="100px"></a>
      <div class="friend-button button button-rounded button-action" style="display: none;">Friend</div>
      <span class="pending-button button-dropdown" data-buttons="dropdown">
        <div class="button button-rounded button-royal">Pending Friend Request <i class="fa fa-caret-down"></i></div>
        <ul>
          <li><a href="#accept">Accept</a></li>
          <li><a href="#decline">Decline</a></li>
        </ul>
      </span>
      <div class="unfriend-button button button-rounded button-caution" style="display: none;">Unfriend</div>
      <div class="friend-button button button-rounded button-highlight" style="display: none;">Friend Request Sent</div>
      <h1><%= user.attributes.email %></h1>
      ID: <%= user.attributes.id %><br>
      Elo: <%= user.attributes.elo %><br><br>
    </div>

    <div id="profile-tabs">
      <ul>
        <li><a href="#wall"><i class="fa fa-home"></i> Wall</a></li>
        <li><a href="#past-games"><i class="fa fa-archive"></i> Past Games</a></li>
        <li><a href="#friends"><i class="fa fa-group"></i> Friends</a></li>
        <li><a href="#graphs"><i class="fa fa-bar-chart-o"></i> Graphs</a></li>
      </ul>
      <div id="wall" class="panel">
        <p>Wall coming soon!</p>
      </div>
      <div id="past-games" class="panel">
        Past Games:
        <ul class="past-games">
        <% user.attributes.past_games.forEach(function(pgn) { %>
        <li>
        <% var other_user_id = null; %>
          <% if (pgn.white_user_id === user.attributes.id) { %>
            <% other_user_id = pgn.black_user_id; %>
          <% } else { %>
            <% other_user_id = pgn.white_user_id; %>
          <% } %>
          At <%= pgn.created_at %> you played as
          <% if (pgn.white_user_id === user.id) { %>
            white
          <% } else { %>
            black
          <% } %>
          against user <a href="/#/users/<%= other_user_id %>"><%= other_user_id %></a>.<br>
          White's elo changed by <%= pgn.white_elo_diff %>.<br>
          Black's elo changed by <%= pgn.black_elo_diff %>.
        </li>
        <% }); %>
        </ul>
      </div>
      <div id="friends" class="panel">
        Friends:
        <br>
        <% if(user.attributes.accepted_friends) { %>
          <% user.attributes.accepted_friends.forEach(function(friend) { %>
            <a href="/#/users/<%= friend.id %>">User<%= friend.id %> (<%= friend.email %>)</a><br>
          <% }); %>
        <% } %>
        <hr>
        Pending Friends:
        <br>
        <% if(user.attributes.pending_friend_requests_received) { %>
          <% user.attributes.pending_friend_requests_received.forEach(function(friend) { %>
            <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
          <% }); %>
        <% } %>
        <hr>
        Denied Friends:
        <br>
        <% if(user.attributes.denied_friend_requests_received) { %>
          <% user.attributes.denied_friend_requests_received.forEach(function(friend) { %>
            <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
          <% }); %>
        <% } %>
      </div>
      <div id="graphs" class="panel">
        <p> Graphs coming soon!</p>
      </div>
    </div>
  </div>
</div>
