<% console.log(user); %>
<div class="social-container">

  <nav class="profile-nav">
    <ul>
      <li class="user-search-bar clearfix">
        <label for="user_email"></label>
        <div class="ui-widget">
          <input placeholder="Search by email" name="user[email]" id="user_email"><span class="icon-search user-search-button"></span><br>
          <input name="user[id]" id="user_id" type="hidden">
        </div>
      </li>
    </ul>
  </nav>

  <div class="profile-container clearfix">
    <div class="profile-info-container clearfix">
      <a href="assets/default_pic.png" class="fancybox"><img class="profile-pic" src="assets/default_pic.png"></a>
      <div class="friend-button button button-rounded button-action" style="display: none;">Friend</div>
      <span class="pending-button button-dropdown" style="display: none;" data-buttons="dropdown">
        <div class="button button-rounded button-royal">Pending Friend Request <span class="icon-arrow-down"></span></div>
        <ul>
          <li><a class="accept-friendship">Accept</a></li>
          <li><a class="deny-friendship">Decline</a></li>
        </ul>
      </span>
      <div class="unfriend-button button button-rounded button-caution" style="display: none;">Unfriend</div>
      <div class="request-sent-button button button-rounded button-highlight" style="display: none;">Friend Request Sent</div>
      <h1><%= user.attributes.email %></h1>
      ID: <%= user.attributes.id %><br>
      Elo: <%= user.attributes.elo %><br><br>
    </div>

    <div id="profile-tabs">
      <ul>
        <li><a href="#wall"><span class="icon-home"></span> Wall</a></li>
        <li><a href="#past-games"><span class="icon-trophy"></span> Past Games</a></li>
        <li><a href="#friends"><span class="icon-users"></span> Friends</a></li>
        <li><a href="#graphs"><span class="icon-graph"></span> Graphs</a></li>
        <li class="messages"><a href="#messages"><span class="icon-mail"></span> Messages</a></li>
      </ul>
      <div id="wall" class="panel">
        <p>Wall coming soon!</p>
      </div>
      <div id="past-games" class="panel">
        Past Games:
        <ul class="past-games">
        <% user.attributes.past_games.forEach(function(pgn) { %>
        <li>
        <% var other_user_id = null; %>
          <% if (pgn.white_user_id === user.attributes.id) { %>
            <% other_user_id = pgn.black_user_id; %>
          <% } else { %>
            <% other_user_id = pgn.white_user_id; %>
          <% } %>
          At <%= pgn.created_at %> you played as
          <% if (pgn.white_user_id === user.id) { %>
            white
          <% } else { %>
            black
          <% } %>
          against user <a href="/#/users/<%= other_user_id %>"><%= other_user_id %></a>.<br>
          White's elo changed by <%= pgn.white_elo_diff %>.<br>
          Black's elo changed by <%= pgn.black_elo_diff %>.
        </li>
        <% }); %>
        </ul>
      </div>
      <div id="friends" class="panel">
        <ul class="friend-list clearfix">
          <% if (user.attributes.accepted_friends.length === 0) { %>
            Aquire moar friends !!!
          <% } else { %>
            <% user.attributes.accepted_friends.forEach(function(friend) { %>
<% console.log(friend); %>
            <a class="clearfix" href="/#/users/<%= friend.id %>">
              <li class="friend-item clearfix">
                <img class="friend-thumbnail" src="assets/default_pic.png">
                <ul class="friend-info" style="float:left;">
                  <li><%= friend.email %></li>
                  <li>Elo: <%= friend.elo %></li>
                  <li>ID: <%= friend.id %></li>
                </ul>
              </li>
            </a>
            <% }); %>
          <% } %>
        </ul>
      </div>
      <script>

      </script>
      <div id="graphs" class="panel">
        <p> Graphs coming soon!</p>
      </div>
      <div id="messages" class="panel">
        <p>Messages coming soon!</p>
      </div>
    </div>
  </div>
</div>
