<h1>Profile for User <%= user.id %></h1>
Elo: <%= user.attributes.elo %><br><br>
Past Games:
<ul class="past-games">
<% user.attributes.past_games.forEach(function(pgn) { %>
<li>
<% var other_user_id = null; %>
  <% if (pgn.white_user_id === user.attributes.id) { %>
    <% other_user_id = pgn.black_user_id; %>
  <% } else { %>
    <% other_user_id = pgn.white_user_id; %>
  <% } %>
  At <%= pgn.created_at %> you played as
  <% if (pgn.white_user_id === user.id) { %>
    white
  <% } else { %>
    black
  <% } %>
  against user <a href="/#/users/<%= other_user_id %>"><%= other_user_id %></a>.<br>
  White's elo changed by <%= pgn.white_elo_diff %>.<br>
  Black's elo changed by <%= pgn.black_elo_diff %>.
</li>
<% }); %>
</ul>
<hr>
Friends:
<br>
<% if(user.attributes.friends) { %>
  <% user.attributes.friends.forEach(function(friend) { %>
    <a href="/#/users/<%= friend.id %>">User<%= friend.id %> (<%= friend.email %>)</a><br>
  <% }); %>
<% } %>
<hr>
Pending Friends:
<br>
<% if(user.attributes.pending_friend_requests_received) { %>
  <% user.attributes.pending_friend_requests_received.forEach(function(friend) { %>
    <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
  <% }); %>
<% } %>
<hr>
Denied Friends:
<br>
<% if(user.attributes.denied_friend_requests_received) { %>
  <% user.attributes.denied_friend_requests_received.forEach(function(friend) { %>
    <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
  <% }); %>
<% } %>
