<div class="profile-container clearfix">
  <h1>Profile for user with email: <%= user.attributes.email %></h1>
<<<<<<< HEAD
  <div class="friend-button button button-rounded button-primary" style="display: none;">Friend</div>
  <div class="unfriend-button button button-rounded button-caution" style="display: none;">Unfriend</div>
=======
  <div class="friend-button button button-rounded button-primary">Friend</div>
  <div class="unfriend-button button button-rounded button-caution">Unfriend</div>
>>>>>>> 4544c3fa7d0d27316fd720562835ffc98aaed1ae
  Elo: <%= user.attributes.elo %><br><br>
  Past Games:
  <ul class="past-games">
  <% user.attributes.past_games.forEach(function(pgn) { %>
  <li>
  <% var other_user_id = null; %>
    <% if (pgn.white_user_id === user.attributes.id) { %>
      <% other_user_id = pgn.black_user_id; %>
    <% } else { %>
      <% other_user_id = pgn.white_user_id; %>
    <% } %>
    At <%= pgn.created_at %> you played as
    <% if (pgn.white_user_id === user.id) { %>
      white
    <% } else { %>
      black
    <% } %>
    against user <a href="/#/users/<%= other_user_id %>"><%= other_user_id %></a>.<br>
    White's elo changed by <%= pgn.white_elo_diff %>.<br>
    Black's elo changed by <%= pgn.black_elo_diff %>.
  </li>
  <% }); %>
  </ul>
  <hr>
  Friends:
  <br>
  <% if(user.attributes.accepted_friends) { %>
    <% user.attributes.accepted_friends.forEach(function(friend) { %>
      <a href="/#/users/<%= friend.id %>">User<%= friend.id %> (<%= friend.email %>)</a><br>
    <% }); %>
<<<<<<< HEAD
  <% } %>
  <hr>
  Pending Friends:
  <br>
  <% if(user.attributes.pending_friend_requests_received) { %>
    <% user.attributes.pending_friend_requests_received.forEach(function(friend) { %>
      <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
    <% }); %>
  <% } %>
  <hr>
  Denied Friends:
  <br>
  <% if(user.attributes.denied_friend_requests_received) { %>
    <% user.attributes.denied_friend_requests_received.forEach(function(friend) { %>
      <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
    <% }); %>
  <% } %>
</div>

<% $(document).ready(function() { %>
<% console.log($('.profile-container')); %>
<% $('.profile-container').css("background", "blue"); %>
  <% if (userId !== user.attributes.id) { %>
  <% console.log("isn't the same user"); %>
    <% if (user.isFriendsWith(userId)) { %>
    <% console.log("show friend") %>
      <% $('.profile-container .friend-button').css( "display", "block"); %>
    <% } else { %>
    <% console.log("show unfriend"); %>
      <% $('.profile-container .unfriend-button').show(); %>
    <% } %>
  <% } %>
<% }); %>
=======
  <% } %>
  <hr>
  Pending Friends:
  <br>
  <% if(user.attributes.pending_friend_requests_received) { %>
    <% user.attributes.pending_friend_requests_received.forEach(function(friend) { %>
      <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
    <% }); %>
  <% } %>
  <hr>
  Denied Friends:
  <br>
  <% if(user.attributes.denied_friend_requests_received) { %>
    <% user.attributes.denied_friend_requests_received.forEach(function(friend) { %>
      <a href="/#/users/<%= friend.id %>">User<%= friend.id %>< <%= friend.email %> ></a><br>
    <% }); %>
  <% } %>
</div>

<% if (userId !== user.attributes.id) { %>
  <% if (user.isFriendsWith(userId) { %>
  <% console.log("isFriendsWith did something!"); %>
   <% } %>
<% } %>
>>>>>>> 4544c3fa7d0d27316fd720562835ffc98aaed1ae
