<div class="mini-board-holder clearfix">
  <a href="#/games/new"><span class="icon-plus2 new-game"></i></a>
  <% games.each(function (game) { %>
    <% var board = JSON.parse(game.attributes.current_board) %>
    <div class="mini-board clearfix">
      <a href="#/games/<%= game.escape("id") %>">
        <% for(var i = 0; i < 8; i++) { %>
          <% for(var j = 0; j < 8; j++) { %>
            <% if ((i + j) % 2 == 0 ) { %>
              <div class="mini-square light" data-id="<%= i %>_<%= j %>">
              <% if (is_white(board[i][j])) { %>
                <span class="piece-underlay small-piece"><%= white_to_solid(board[i][j]) %></span>
              <% } %>
              <span class="piece small-piece"><%= board[i][j] %></span></div>
            <% } else { %>
              <div class="mini-square dark" data-id="<%= i %>_<%= j %>">
              <% if (is_white(board[i][j])) { %>
                <span class="piece-underlay small-piece"><%= white_to_solid(board[i][j]) %></span>
              <% } %>
              <span class="piece small-piece"><%= board[i][j] %></span></div>
            <% } %>
          <% } %>
        <% } %>
      </a>
      </div>
  <% }); %>
</div>
