<% console.log(currUser); %>
<div id="pending-container">
  <div id="pending-friends-container">
    <ul class="pending-friends-list">
      <% if (currUser.attributes.pending_friends_received.length === 0) { %>
        <p>No pending friend requests.</p>
      <% } else { %>
        <li>Friend Requests:</li>
        <% currUser.attributes.pending_friends_received.forEach(function(friend) { %>
          <li class="friend-item clearfix">
            <img class="friend-thumbnail" src="assets/default_pic.png">
            <%= friend.email %><br>
            <div class="friend-response-container">
              <div data-id="<%= friend.id %>" class="accept-friendship button button-rounded button-action">Accept</div>
              <div data-id="<%= friend.id %>" class="deny-friendship button button-rounded button-highlight">Deny</div>
            </div>
          </li>
        <% }); %>
      <% }  %>
    </ul>
  </div>
  <div id="pending-games-container">
    <ul id="pending-games-list">
      <% if (currUser.attributes.pending_games_received.length === 0) { %>
        <p>No pending game requests.</p>
      <% } else { %>
        <li>Game Requests:</li>
        <% currUser.attributes.pending_games_received.forEach(function(game) { %>
        <li class="game-item clearfix">User <a href="#/users/<%= game.id %>"><%= game.id %></a>
          <div class="game-response-container">
            <div data-id="<%= game.id %>" class="accept-game button button-rounded button-action">Accept</div>
            <div data-id="<%= game.id %>" class="deny-game button button-rounded button-highlight">Deny</div>
          </div>
        </li>
        <% }); %>
      </ul>
      <% } %>
  </div>
</div>

<div id="chat-wrapper">
  <div id="selected-chat"></div>
  <div id="chat-container">
    <% if (currUser.attributes.accepted_friends === 0) { %>
      <p class="sad-panda">Aquire moar friends!</p>
    <% } else { %>
    <ul>
      <li>Friends:</li>
      <% currUser.attributes.accepted_friends.forEach(function(friend) { %>
      <li class="chat-friend" data-id="<%= friend.id %>"><%= friend.email %></li>
      <% }); %>
    </ul>
    <% } %>
  </div>
</div>

<nav class="nav-bot clearfix">
  <ul class="nav-right">
    <li><div id="chat" href="#/"><span class="nav-icon icon-bubbles"></span></div></li>
  </ul>
  <ul class="nav-left">
    <li class="notif-container">
      <% if (currUser.attributes.pending_friends_received.length > 0) { %>
        <div class="notif-bubble"><%= currUser.attributes.pending_friends_received.length %></div>
      <% }; %>
      <div id="pending-friends" href="#/"><span class="nav-icon icon-user-add"></span></div>
    </li>
    <li class="notif-container">
      <% if (currUser.attributes.pending_games_received.length > 0) { %>
        <div class="notif-bubble"><%= currUser.attributes.pending_games_received.length %></div>
      <% } %>
      <div id="pending-games" href="#/"><span class="nav-icon icon-googleplus"></span></div>
    </li>
  </ul>
</nav>
