<!DOCTYPE html>
<html>
<head>
  <title>ChessApplication</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/errors" %>

<ul class="user_info">
<% if !current_user.nil? %>
    <li>Logged in as: <%= current_user.email %></li>
    <li class="logout"><%= button_to "Logout", destroy_user_session_url, :method => :delete %></li>
<% else %>
    <li><%= button_to "Sign In", user_session_url, :method => :get %></li>
    <li><%= button_to "Sign Up", new_user_registration_url, :method => :get %></li>
<% end %>
</ul>

<script type="text/javascript">
$('.notice').on("click", function(event) {$(event.currentTarget).hide("slow"); });

$('.errors').on("click", function(event) { $(event.currentTarget).hide("slow"); });
</script>

<%= yield %>

<script type="text/javascript">
$( document ).ready(function() {
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
});
</script>

<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
</body>
</html>
