<!DOCTYPE html>
<html>
<head>
  <title>Chessnuts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# render partial: "layouts/errors" %>

<!-- This needs to be put into backbone -->
<ul class="user_info">
<% if !current_user.nil? %>
  <!-- temporary nav stuff -->
  <nav>
    <ul class="clearfix">
      <li class="nav-left"><a href="#/">Dashboard</a></li>
      <li class="nav-left"><a href="#/users/<%= current_user.id %>">Profile</a></li>
      <li class="nav-right"><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
    </ul>
  </nav>
<% else %>
    <li><%= button_to "Sign In", user_session_url, :method => :get %></li>
    <li><%= button_to "Sign Up", new_user_registration_url, :method => :get %></li>
<% end %>
</ul>

<script type="text/javascript">
$('.notice').on("click", function(event) {$(event.currentTarget).hide("slow"); });

$('.errors').on("click", function(event) { $(event.currentTarget).hide("slow"); });
</script>

<%= yield %>

<nav>
  <ul>
    <li class="nav-right"><a href="#/">Chat</a></li>
  </ul>
</nav>

<script type="text/javascript">
$( document ).ready(function() {
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
});
</script>

<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
</body>
</html>
