<!DOCTYPE html>
<html>
<head>
  <title>ChessApplication</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/errors" %>

<% if !current_user.nil? %>
  <ul>
    <li>Logged in as: <%= current_user.email %></li>
    <li><%= link_to "Your Profile!", user_url(current_user)%>
    <li><%= button_to "Logout", destroy_user_session_url, :method => :delete %></li>
  </ul>
<% elsif %>
  <ul>
    <li><%= button_to "Sign In", user_session_url, :method => :get %></li>
    <li><%= button_to "Sign Up", new_user_registration_url, :method => :get %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
